In [34]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer, CountVectorizer

In [19]:
testdata = '../testdata'

kmers_2 = pd.read_csv(f'{testdata}/2.fa.kmer-matches.csv')
print(kmers_2.shape)
kmers_2.head()

(2744, 4)

,sequence_file,sequence_name,kmer,hashval
0,testdata/sequences.fasta,CP001071.1 Akkermansia muciniphila ATCC BAA-83...,CATCTAAAACCCATTTCCCCCCCCTCCGCCG,18428501249114229
1,testdata/sequences.fasta,CP001071.1 Akkermansia muciniphila ATCC BAA-83...,TTAACCCGGCGCACGTATTCCCACCTCCCCT,12133950630741558
2,testdata/sequences.fasta,CP001071.1 Akkermansia muciniphila ATCC BAA-83...,GACCACCGCCGCTGGAAACACTGACTCATCC,6824970562632039
3,testdata/sequences.fasta,CP001071.1 Akkermansia muciniphila ATCC BAA-83...,GCATGCGTTCTCTGCTTGAGGAGTACGAACG,6636795919657747
4,testdata/sequences.fasta,CP001071.1 Akkermansia muciniphila ATCC BAA-83...,ACACGTACTCCACCAGCATCGTGGACGCATT,5650238706234368

In [20]:
kmers_47 = pd.read_csv(f'{testdata}/47.fa.kmer-matches.csv')
print(kmers_47.shape)
kmers_47.head()

(178, 4)

,sequence_file,sequence_name,kmer,hashval
0,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,ACTCACCTCTAGCCTACGCCTCATATGATGT,12868775358248804
1,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,TCGCTGGTTAAACGCAAAGTAATTGGACTGA,13894176996423815
2,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,CAAGAAGCTGGATGAATTAGAAATGCGGTTA,12574953991866005
3,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,TTAATCGGCTTTACCGTAGCCATGATCAGTA,16887131664281014
4,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,TCTCGTCAAAATAACGGGCACGTTAAACAAA,7987424295175338

In [21]:
kmers_63 = pd.read_csv(f'{testdata}/63.fa.kmer-matches.csv')
print(kmers_63.shape)
kmers_63.head()

(240, 4)

,sequence_file,sequence_name,kmer,hashval
0,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,ATTTGATAAAAAACCTCCGTTCCATTAAGAT,10551722700063187
1,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,ATGGACAATAAAGGAACAAGAACCAAGGATC,10071227734029562
2,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,AGCCCAATGCTGATCATTCCCCTGCGCTGCA,13573812546471498
3,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,GAGTTCTTTGTGCCAGGTCGTAGAATTACAG,385242214102144
4,testdata/sequences.fasta,NC_011665.1 Shewanella baltica OS223 plasmid p...,TATTGAAGAATATTCAGATGCTTTCCCTGCA,1658104204669725

In [23]:
kmers_63.hashval.value_counts()

hashval
13630191002096322    6
13894176996423815    4
7430512069482015     4
12574953991866005    4
16887131664281014    4
                    ..
12880367229968159    2
11479308399516360    2
15911665623700279    2
16850886838136612    2
8333295411468735     2
Name: count, Length: 96, dtype: int64

In [24]:
kmers_63.kmer.value_counts()

kmer
TATCCGCAGGCATTTAAAGATGAAGCCGTCT    4
ATGGACAATAAAGGAACAAGAACCAAGGATC    2
ATTTGATAAAAAACCTCCGTTCCATTAAGAT    2
GAGTTCTTTGTGCCAGGTCGTAGAATTACAG    2
TATTGAAGAATATTCAGATGCTTTCCCTGCA    2
                                  ..
AACGGGTTTAGGAAAATCTGCGAACTATCGA    2
GGCGCATTGTTGGCAAGAGTAACCCTGCGGA    2
CTCAATAATCGGGTGGTATTGCTCAGCTAAT    2
TTTGTTTAACGTGCCCGTTATTTTGACGAGA    2
TACTGATCATGGCTACGGTAAAGCCGATTAA    2
Name: count, Length: 119, dtype: int64

In [26]:
corpus = [' '.join(map(str, kmers_2.hashval)), ' '.join(map(str, kmers_47.hashval)), ' '.join(map(str, kmers_63.hashval)), ]

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

In [27]:
vectorizer.get_feature_names_out()

array(['10003635611094380', '10004720045874964', '1001028632269369', ...,
       '9987920310021958', '9990139941134371', '9994816441327197'],
      dtype=object)

In [28]:
vectorizer.get_feature_names_out().shape

(2819,)

In [29]:
vectorizer.idf_

array([1.69314718, 1.69314718, 1.69314718, ..., 1.69314718, 1.69314718,
       1.69314718])

In [32]:
sample_names = [
    # 2.fa.sig.gz
    'CP001071.1', 
    
    # 47.fa.sig.gz
    'NC_009661.1', 

    # 63.fa.sig.gz
    'NC_011665.1'
]

In [33]:
i = pd.DataFrame(X.todense(), columns=vectorizer.get_feature_names_out(), index=sample_names)

,10003635611094380,10004720045874964,1001028632269369,10010655538773050,10015318526673339,10024678223369138,10027964074616847,10037738676082438,10050041161472983,10051463019381655,...,992451469208530,9928338016035068,9928884930019290,9953148855456071,9966785605665857,9974500342032401,9975414403431168,9987920310021958,9990139941134371,9994816441327197
CP001071.1,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,...,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627,0.018627
NC_009661.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
NC_011665.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [35]:
count_vectorizer = CountVectorizer()
X_counts = count_vectorizer.fit_transform(corpus)
X_counts

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 2862 stored elements and shape (3, 2819)>